<div class="row">
    <div id="main"></div>
</div>

<script src="~/WebApp/node_modules/jquery/dist/jquery.min.js"></script>
<script>
    $(document).on('ready', function() {
        $("#main").load("Card/WebApp/index.html", function () {

            //close button
      
        });

    });
</script>
